h2 {
  font-family: futura;
  font-size: 30px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  font-family: futura;
  font-size: 20px;
}

nav {
  display:flex;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: black;
  border: 1px solid;
  border-radius: 3px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {width: 220px;
    height: 70px;
    background-image: url(https://i.ibb.co.com/PZ7jXhcY/logo.png);
    background-size: cover;
    background-position: center;
    ;
  }

  .main-banner {
    height: 500px;
    background-image: url(https://www.byingesalim.com/static/main_banner-83ae50260703706bcfb3372d4d183a05.jpg);
    background-size: cover;
    background-position: center;
  }